.block {
	height:60px;
	font-size:20px;
	background-color:#dcd0ff;
	text-align:center;
	margin:0 1% 20px 1%;
	float:left;
	padding-top:10px;
}
#block1{width: 8%; }
#block2{width: 18%; }
#block3{width: 28%; }
#block4{width: 38%; }
#block5{width: 48%; }
#block6{width: 58%; }
#block7{width: 68%; }
#block8{width: 78%; }
#block9{width: 88%; }
#block10{width: 98%; }

.block-1 {
    width: 8%;
}
.block-2 {
    width: 18%;
}
.block-3 {
    width: 28%;
}
.block-4 {
    width: 38%;
}
.block-5 {
    width: 48%;
}
.block-6 {
    width: 58%;
}
.block-7 {
    width: 68%;
}
.block-8 {
    width: 78%; }
.block-9 {
    width: 88%;
}
.block-10 {
    width: 98%;
}
